body {
    background-color: #001740;
    color: #aaaa99;
    margin: 0;
}
header {
    height: 10vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #aaaa99;
}
main {
    height: 80vh;
    display: grid;
    grid-template-columns: 2fr 4fr ;
}
.main-screen {
    border: 1px solid red;
    padding: 20px;
}
.description {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid #aaaa99;
}
ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    height: 50%;
}
li {
    cursor: pointer;
    list-style: none;
}
li:hover {
    text-decoration: underline;
    color: aqua;
}
li:active {
    color: #aaaa99;
}
li::before {
    content: "";
    border-color: red;
    border-width: 0 1px 1px 0;
    border-style: solid;
    rotate: -45deg;
    margin-top: 3px;
    aspect-ratio: 1/1;
    width: 9px;
    position: absolute;
    left: 20px;
    transition: 0.6s;
}
li.open::before {
    rotate: 45deg;
    border-color: aqua;
}

.input {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type=text] {
    background-color: #001740;
    color:#aaaa99;
    border: none;
}
input[type=text]:focus {
    border: none;
    outline: none;
}
.newProject {
    display: grid;
    width: max(205px , 40%);
    grid-template-columns: 35px 1fr ;
    grid-template-rows: 35px;
    grid-auto-rows: 35px;
    grid-auto-columns: 35px 1fr;
    height: 35px;
    transition: 0.6s;
    border-bottom: 1px solid red;
    overflow: hidden;
}
.plusSign{
    grid-area: 1 / 1 / 2 /2;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    aspect-ratio: 1/1;
    color: red;
    cursor: pointer;
    font-size: 32px;
    transition: 0.2s;
}
#projectName-input {
    grid-area: 1 / 2 / 2 /3;
}
#projectDesc-input {
    grid-area: 2 / 2 / 3 / 3;
}
#projectDate-input {
    grid-area: 3 / 2 / 4 / 3;
    background-color: #001740;
    color: #aaaa99;
    border: none;
    width: min(165px , 100%);
}
#projectDate-input:focus {
    outline: none;
}
#projectType-input {
    grid-area: 4 / 2 / 5 /3;
    background-color: #001740;
    color: #aaaa99;
    border: none;
    width: min(165px , 100%);
}
#projectType-input:focus {
    outline: none;
}
.plusSign:hover {
    color: aqua;
}
.plusSign:active {
    transform: scale(0.5);
}
footer{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    height: 5vh;
    width: 100vw;
}